%{ if flux_version != "" ~}
image:
  version: ${flux_version}
%{ endif ~}
git:
  url: ${config_repo_url}
  path: "${config_repo_path}"
  branch: ${config_repo_branch}
  secretName: flux-ssh
ssh:
  known_hosts: ${ssh_host_key}
  config: |
    Host ${config_repo_host}
     StrictHostKeyChecking yes
     User git
     Hostname github.com
     IdentityFile /etc/fluxd/ssh/identity
    Host *
     StrictHostKeyChecking yes
     IdentityFile /etc/fluxd/ssh/identity-default/identity
     LogLevel error
extraVolumes:
 - name: ssh-default
   secret:
     secretName: flux-ssh-default
     defaultMode: 0400
extraVolumeMounts:
 - name: ssh-default
   mountPath: /etc/fluxd/ssh/identity-default
manifestGeneration: true
syncGarbageCollection:
  enabled: true
